<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.bms.mappers.IBookBorrowingMapper">

	<!-- 借阅归还罚款功能 -->
	<insert id="create" parameterType="BookBorrowing">
		INSERT INTO BookBorrowings
		(BookBarcode,ReaderNumber,BorrowingDate,ReturnDate,OperatorNumber,Arrears,Paid,SendBack)
		VALUES
		(#{bookBarcode},#{readerNumber},#{borrowingDate},
		#{returnDate},#{operatorNumber},#{arrears},#{paid}, #{sendBack})
	</insert>

	<update id="sendBack">
		UPDATE BookBorrowings SET Arrears = #{arrears},
		SendBack = !SendBack, ReturnDate = #{returnDate}
		WHERE BookBarcode =
		#{bookBarcode}
		AND SendBack = False
	</update>

	<delete id="delete" parameterType="_int">
		DELETE FROM BookBorrowings
		WHERE
		Id = #{id}
	</delete>

	<select id="get" parameterType="_int" resultType="BookBorrowing">
		SELECT * FROM
		BookBorrowings
		WHERE Id = #{id}
	</select>

	<select id="select" resultType="BookBorrowing">
		SELECT * FROM
		BookBorrowings
		WHERE
		BookBarcode = #{bookBarcode} AND SendBack = #{sendBack}
	</select>

	<select id="getAll" resultType="BookBorrowing">
		<bind name="start" value="(page.pageNo-1)*page.pageSize" />
		SELECT * FROM BookBorrowings
		<where>
			<if test="bookBarcode!=null and bookBarcode!=''">
				AND BookBarcode LIKE "%"#{bookBarcode}"%"
			</if>
			<if test="readerNumber!=null and readerNumber!=''">
				AND ReaderNumber LIKE "%"#{readerNumber}"%"
			</if>
			<if test="sendBack!=null">
				AND SendBack =#{sendBack}
			</if>
			<if test="sendBack!=null">
				AND Paid =#{paid}
			</if>
		</where>
		<if test="page.pageNo > 0 and page.pageSize > 0">
			LIMIT #{start}, #{page.pageSize}
		</if>
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM BookBorrowings
		<where>
			<if test="bookBarcode!=null and bookBarcode!=''">
				AND BookBarcode LIKE "%"#{bookBarcode}"%"
			</if>
			<if test="readerNumber!=null and readerNumber!=''">
				AND ReaderNumber LIKE "%"#{readerNumber}"%"
			</if>
			<if test="sendBack!=null">
				AND SendBack =#{sendBack}
			</if>
			<if test="sendBack!=null">
				AND Paid =#{paid}
			</if>
		</where>
	</select>

	<!-- 罚款记录及缴纳欠款 -->
	<select id="getFineRecord" resultType="FineRecord">
		<bind name="start" value="(page.pageNo-1)*page.pageSize" />
		SELECT Readers.Number, Readers.Name, Readers.Telephone,
		SUM(BookBorrowings.Arrears) as TotalArrears FROM BookBorrowings INNER
		JOIN
		Readers ON Readers.Number = BookBorrowings.ReaderNumber WHERE
		BookBorrowings.Paid = False
		<if test="readerNumber!=null and readerNumber!=''">
			AND BookBorrowings.ReaderNumber LIKE
			"%"#{readerNumber}"%"
		</if>
		<if test="readerName!=null and readerName!=''">
			AND Readers.Name LIKE "%"#{readerName}"%"
		</if>
		GROUP BY BookBorrowings.ReaderNumber
		Having SUM(BookBorrowings.Arrears)
		> 0
		<if test="page.pageNo > 0 and page.pageSize > 0">
			LIMIT #{start}, #{page.pageSize}
		</if>
	</select>

	<select id="fineCount" resultType="int">
		SELECT COUNT(DISTINCT Readers.Number) FROM BookBorrowings INNER JOIN
		Readers ON Readers.Number = BookBorrowings.ReaderNumber WHERE
		BookBorrowings.Paid = False
		<if test="readerNumber!=null and readerNumber!=''">
			AND BookBorrowings.ReaderNumber LIKE
			"%"#{readerNumber}"%"
		</if>
		<if test="readerName!=null and readerName!=''">
			AND Readers.Name LIKE "%"#{readerName}"%"
		</if>
		GROUP BY BookBorrowings.ReaderNumber
		Having SUM(BookBorrowings.Arrears)
		> 0
	</select>

	<update id="updatePaid" parameterType="String">
		UPDATE BookBorrowings SET
		Paid = True WHERE ReaderNumber = #{readerNumber} AND Arrears > 0
	</update>
</mapper>